body, html {
	font-family: sans-serif;
}

* {
  box-sizing: border-box;
}


hr {
margin-right: 300px;
border-width:1px;
border-color:#40e0d0;
}

.container {
  position: absolute;
  right:0;
  margin: 110px;
  max-width: 380px;
  padding:20px 50px 16px 0px;
  background-color: white;
}

  input[type=text]{
	font-size: 16px;
  width: 100%;
  padding: 15px;
  margin: 5px 0 11px 0;
  border: 1px solid #black;
  background: white;
}

	input[type=password]{
	font-size: 16px;
	width: 100%;
	padding: 15px;
	margin: 5px 0 11px 0;
	border-top: 1px solid black;
  background: white;
}

input[type=password]{
	margin: 5px 0 11px 0;
}

.button {
	font-size: 16px;
	color: black;
	width: 100%;
	padding:10px 15px;
	margin: 5px 0 14px 0;
	border:1px solid #black;
  background-color: #d4d4d4;
	opacity: 0.7;
  cursor: pointer;
}

#logo {
		position: absolute;
 		top: 10px;
 		right:5px;
}

#riveroflife {
		position: absolute;
 		top: 0px;
 		left:0px;
		clip-path: polygon(100% 50%, 0 0, 0 99%);
}

#link{
		position: absolute;
		left:0px;
		top:610px;
}


#tags{
		position: absolute;
		right:160px;
		top:575px;
		color:#40e0d0;
  }
mark.green{
  color:#40e0d0;
  background:none;
}
